@use 'variaveis' as *;

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  color: $dark;
}

// CONTAINER PADRÃO
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $spacing-lg;
}

// SECTION PADRÃO
.section {
  padding: $spacing-xl 0;

  &__title {
    text-align: center;
    margin-bottom: $spacing-lg;
  }

  &--highlight {
    background-color: $light;
  }
}